.logo-element{
  font-size: 12px;
  font-weight: 100;
}
.logo-name{
  font-size: 50px;
  color : rgb(103, 106, 108);
  letter-spacing: 0px;
}
.logo-icon{
  top: 35px;
  left: 92px;
  font-size: 80px !important;
  position: relative;
}
.profile-img{
    max-width: 82px;
    height: 82px;
    border: 2px solid #ccc !important;
    border-radius: 50% !important;
}